kind: "{{ descheduler_kind | default('CronJob') }}"

image:
  repository: "{{ descheduler_image_repo | default('registry.k8s.io/descheduler/descheduler') }}"
  tag: "{{ descheduler_image_tag | default('') }}"
  pullPolicy: "{{ descheduler_image_pull_policy | default('IfNotPresent') }}"

schedule: "{{ descheduler_schedule }}"

cmdOptions:
  v: {{ descheduler_log_verbosity | default(3) }}
  dry-run: {{ descheduler_dry_run | bool | lower }}

tolerations:
{{ descheduler_tolerations | to_nice_yaml(indent=2) }}

resources:
{{ descheduler_resources | to_nice_yaml(indent=2) }}

deschedulerPolicyAPIVersion: "descheduler/v1alpha2"
deschedulerPolicy:
  profiles:
    - name: default
      pluginConfig:
        - name: DefaultEvictor
          args:
            ignorePvcPods: true
            evictLocalStoragePods: {{ descheduler_evict_local_storage_pods | default(true) | lower }}
        - name: RemovePodsHavingTooManyRestarts
          args:
            podRestartThreshold: {{ descheduler_pod_restart_threshold | default(100) }}
            includingInitContainers: {{ descheduler_including_init_containers | default(true) | lower }}
        - name: LowNodeUtilization
          args:
            thresholds:
              cpu: {{ cpu_low_utilization_threshold }}
              memory: {{ memory_low_utilization_threshold }}
              pods: {{ pods_low_utilization_threshold }}
            targetThresholds:
              cpu: {{ cpu_low_utilization_target_threshold }}
              memory: {{ memory_low_utilization_target_threshold }}
              pods: {{ pods_low_utilization_target_threshold }}
      plugins:
        balance:
          enabled:
            - LowNodeUtilization
        deschedule:
          enabled:
            - RemovePodsHavingTooManyRestarts
